@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html, body {scroll-behavior: smooth;}
* {
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
body {
	background-color: #212121;
	min-height: 100vh;
	background: linear-gradient(#212121, #001a33);
	min-height: 100lvh;
}

.hidden-scroller {
  max-height: 150px!important; /* set your desired height */
  overflow: auto;            /* enables scrolling */
  -ms-overflow-style: none;  /* for Internet Explorer and Edge */
  scrollbar-width: none;
}
.hidden-scroller::-webkit-scrollbar {
  display: none;             /* for Chrome, Safari and Opera */
}

.navbar-brand { color: gold!important; }

header {
	background-color: rgba(0, 0, 0, .1);
	position: relative;
	overflow: hidden;
}
header::before {
	content: "";
	position: absolute;
	top: 0; left: 0;
	width: 300px; height: 300px;
	background: radial-gradient(rgba(218, 165, 32, .2), rgba(0,0,0,0) 99%);
	z-index: -1;
	border-radius: 50%;
	filter: blur(80px);
	scale: 1.5;
}
header::after {
	content: "";
	position: absolute;
	bottom: 0; right: 0;
	width: 300px; height: 300px;
	background: radial-gradient(rgba(59, 29, 9, .8), rgba(0,0,0,0) 99%);
	z-index: -1;
	border-radius: 50%;
	filter: blur(80px);
	scale: 1.5;
}


/* .contest {
	background-color: #001a33;
	background: linear-gradient(#212121, #001a33);
} */
.contest .card {
	background-color: rgba(59, 29, 9, .5);
	background: linear-gradient(45deg, rgba(59, 29, 9, .5), rgb(218, 165, 32));
	border: none;
	transition: all .3s ease;
	min-height: 200px;
	color: #efefef;
	opacity: .9;
	overflow: hidden;
}
/* .contest .card-body {
	background: url('@/assets/img/card-lines.png') no-repeat center;
	background-size: cover;
} */
.contest .card:hover {
	opacity: 1;
	transform: scale(1.1);
	box-shadow: 0 0 15px rgba(218, 165, 32, .5);
}
.contest .card-lines {
	transition: all .3s ease;
}
.contest .card:hover .card-lines {
	opacity: .4!important;
	transform: rotate3d(0,0,1,15deg) scale(1.2);
}
.contest-img {
	border: 4px solid gold;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.heading-small {
	position: relative;
	display: block;
}
.heading-small span {
	position: relative;
	z-index: 1;
	background-color: #212121;
	padding: 5px;
	text-transform: uppercase;
	font-weight: 100;
	color: gold;
	border-radius: 10px;
}
.heading-small::before {
	content: "";
	position: absolute;
	top: 50%; left: 0; right: 0;
	height: 1px;
	background-color: gold;
	z-index: 0;
}

/* MODAL */
.modal .modal-content {
	background-color: #001a33!important;
	background: linear-gradient(to right, #212121, #001a33)!important;
	box-shadow: 0 0 20px rgba(218, 165, 32, .3);
}
.modal-content .btn-close {
	filter: invert(1);
}

/* FORMS */
.form-control {
	background-color: #212121!important;
	border: 2px solid goldenrod!important;
	color: #efefef!important;
}
/* FORMS */
.form-control:hover, .form-control:focus {
	box-shadow: 0 0 10px rgba(218, 165, 32, .5);
	
}

/* tabs */
.my-tabs .btn {
	color: goldenrod;
}
.my-tabs .btn.active {
	background-color: goldenrod;
	color: #010101;
}

/* SWAL */
.swal2-confirm-button {
  background-color: goldenrod!important;
  border-color: goldenrod!important;
  color: #010101!important;
  padding: 7.5px 25px;
  margin-top: .5em;
  margin-bottom: 1.5em;
  scale: 1.2;
}


/* Helpers */
.bg-dark { background-color: #212121 !important; }
.text-gold { color: gold; }
.bg-gold { background-color: goldenrod!important; }
.border-gold { border-color: goldenrod!important; }
.table { vertical-align: middle!important; }